@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.container-xl {
    padding-top: 2%;
    padding-bottom: 2%;

}

.box {
    padding-bottom: 1%;
    text-align: center;
    border: 5px solid #cfe2f7 ;
    border-radius: 6px;
    background-color:#aadbec; 
    color: black; 
}

#coming-soon {
    color: red;
}

#content {
    padding-top: 30px;
    line-height: 60px;
}

.accordion  {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5%;
}

.accordion-item {
    margin: 5%;
}

a:hover {
    color: red;
    font-size: large;
}

#pvg-logo {
    width: auto;
    width: 40%;
    border: 2px solid #0050a5;
}



#vlab-logo {
    width: 100%;
    border : black;
    border: 2px solid #0050a5;
} 



.timeline >h2{
    text-align: center;
}



.details{
    transition: 0.7s;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0px 0px 3px ;
    
}
.details:hover{
    opacity: 0.9;
    box-shadow: 1px 1px 5px #312f2f;
    background-color:#aadbec;
    color:black;

}
.prefaceContent{
    margin: 1% 2%;
}


#timeline {
    position: relative;
    width: 60%;
    color:black;
}

#bullets {
    text-align: left;
}
table,tr{
    color: white;
    
}
tr:hover{
    background-color:#aadbec;
    font-weight: bolder;
    color: black;
}

.card-body{
    color: black;
}

@media (max-width:600px){
    #pvg-logo {
        width: auto;
        width: 60%;
        border: 2px solid #0050a5;
    }
    
    
    
    #vlab-logo {
        width: 100%;
        border : black;
        border: 2px solid #0050a5;
    } 
    
}
